body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.game-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("sky.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.character {
  position: absolute;
  bottom: 0;
  left: 200px;
  width: 200px;
  height: 200px;
  background-image: url("goku.gif");
  background-size: cover;
}

.obstacle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background-color: navy;
}

.score {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
}

.play-button {
  background-color: rgb(212, 113, 14);
  border: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.game-over-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.play-again-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(212, 113, 14);
  border: none;
  color: white;
  padding: 24px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}
